[Desktop Entry]
Name=About this PC
Comment=Shows information of this device like CPU, GPU and RAM.
Exec=python3 /usr/fancy-stuff/aboutpc/app.py
Icon=dialog-info
Type=Application
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
Terminal=false
StartupNotify=true
